:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}
input {
    padding: 10px;
    color: darkgrey;
}

#submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    border-radius: 20px;
    color: white;
}

#nameDisplay {
    color: rgb(50, 50, 50);
    background-color: white;
    text-align: center;
    padding: 80px;
    font-size: 48px;
    font-family: 'Pacifico';
}

#nameTag {
    background: red;
    text-align: center;
    color: white;
    padding-bottom: 100px;
    border-radius: 20px;
    margin: 100px;
}

.greeting {
    font-size: 160px;
    padding-top: 120px;
    font-weight: bold;
}

.phrase {
    font-size: 70px;
    padding-top: 0px;
    margin-top: -100px;
    font-weight: bold;
}
